@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
img, iframe, video{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #111;
}
body{
    font-family: 'Pretendard';
    color: #111;
    font-size: 22px;
    line-height: 24px;
    min-width: 1500px;
}
/*header*/
#header{
    border-bottom: 2px solid #656668;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    
}
.header_inner{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
}
.logo{
    padding-right: 92px;
}
.gnb{
    display: flex;
}
.gnb li{
    padding-right: 93px;
    font-size: 22px;
    font-weight: Light;
}
.lnb{
    display: flex;
    margin-left: auto;
}
.lnb li{
    padding-left: 35px;
}

/*title_list*/
/*  하이퍼링크 설정 (메뉴 on)*/
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}
#title_list{
    width: 100%;
    background: #fff;
    transition: top 0.2s;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 80;
    margin-top: 100px;
  }
  .nav-up {
    top: -100px !important;
    /*헤더 높이와 같이*/
  }
  .nav-down {
    top: 0px !important;
  }
#title_list{
    background-image: url(../images/sub1/bar.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.t_gnb{
    margin:auto;
    text-transform:uppercase;
    text-align:center;
display: flex;}	
.t_gnb>li{
        width:33%;}
.t_gnb>li>a{display:block;
        font-size:23px;
        padding:20px 0 0;
    color: #979797;}
.t_gnb>li>a:hover{color:#4E4F51;}
.solid{width:90%;
        margin:auto;
        margin-top:20px;
        height:4px;
        background:#4E4F51;
        visibility:hidden;
        opacity:0;
        transform:scaleX(0);
        transition-property:opacity, transform;
        transition-duration:0.5s;}
.t_gnb>li>a:hover .solid{transform:scaleX(1);
                        opacity:1;
                        visibility:visible;}

/*sale*/
#sale{
    width: 1450px;
    margin: 0 auto;
    padding-top: 210px;
}
.sale_title{
    width: 835px;
    display: flex;
    justify-content: space-between;
    margin-left: 615px;
    padding-bottom: 150px;
    align-items: flex-end;
 
}
.sale_title h1 a{
    display: inline-block;
    color: #fff;
    background-color: #3A3A3A;
    padding: 15px 60px ;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
}
.sale_title p a{
    display: inline-block;
    background-color: #E6E6E6;
    font-weight: 300;
    font-size: 18px;
    padding: 6px 12px;
}
.sale_content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sale_content img{
    width: 100%;
}
.content1 h2, .content2 h2{
    font-size: 28px;
    font-weight: 500;
    padding-top: 26px;
    letter-spacing: 1px;
}
.content1 h3, .content2 h3{
    font-size: 20px;
    padding-top: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.content1 h4, .content2 h4{
    font-size: 18px;
    padding-top: 25px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
/*category*/
#category{
    margin: 0 auto;
    margin-top: 200px;
}
.ct_title{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.ct_title h1 a{
    font-size: 60px;
    font-weight: 300;

}.ct_title p a{
    display: inline-block;
    background-color: #E6E6E6;
    font-weight: 300;
    font-size: 18px;
    padding: 6px 12px;
}

/*tabs4*/        
.tabs4 {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    width: 1340px;
  }
  
  .tabs4 li span {
    display: block;
    cursor: pointer;
    width:130px;
    padding: 10px 0px;
    color: #4E4F51;
    text-align: center;
  }
  
  /*지금 클릭한 tab부분을 나타내는 클래스는 li에 active라는 이름으로 붙는다.*/
  .tabs4 li.active4 span {
    border-bottom: 3px solid #4E4F51; 
    color: #4E4F51;
    
  }
  
  /*tab_contaier*/
  
  .tab_content4 h1 {
    padding-bottom: 20px;
  }
  #tab20, #tab21, #tab22, #tab23, #tab24, #tab25, #tab26{
      display: flex;
  }
  
  .tab20_1>a>ol, .tab20_2>a>ol, .tab20_3>a>ol, .tab20_4>a>ol, .tab20_5>a>ol, .tab20_6>a>ol, .tab20_7>a>ol, .tab20_8>a>ol, .tab20_9>a>ol, .tab20_10>a>ol{
      display: flex;
      width: 47px;
      justify-content: space-between;
  }
  /*글씨 속성*/
  .tab_content4 h3{
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
  }
  .tab_content4 h4{
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.5px;
      padding-top: 5px;
  }
  .tab_content4 h5{
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      padding-top: 2px;
      text-decoration: line-through;
  }
  .tab_content4 h6{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 2px;
}
.tab_content4 h6 span{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-top: 2px;
    color: red;
}
  /*하트 색상변화는 효과*/
  .imgClass {
      cursor: pointer;
  }
  /*글씨가 튀어나간부분 ...으로 표시하기*/
  .tab20_2, .tab20_3, .tab20_3, .tab20_5{
      width: 300px;
  }
  .tab20_2>a>h3, .tab20_3>a>h3, .tab20_4>a>h3, .tab20_5>a>h3  {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .tab_container4 {
    max-width: 1740px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
#tab20 {
    width:6000px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate 40s linear infinite;
}

#tab20 ul {
    display: flex;
    width: 4800px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

#tab20 ul li {
    width: 300px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/
#tab20>ul>li:nth-child(2nss) {
    padding-top: 190px
}
#tab20>ul>li:nth-child(2n-1) {
    padding-top: 66px
}

#tab20>ul>li>img {
    width: 100%;
}

#tab20:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

#tab20 p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: rotate(-50%);
    cursor: pointer;
}

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -3600px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

/*store*/
#store{
    width: 1450px;
    margin: 0 auto;
    padding-top: 190px;
}

#store h1 a{
    display: inline-block;
    color: #fff;
    background-color: #3A3A3A;
    padding: 15px 60px ;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
}
#store h1{
    text-align: center;
}
.store1{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.text1{
    width: 722px;
    
}
.text1 h2, .text2 h2{
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 42px;
    padding-top: 30px;
}
.text1 h3, .text2 h3{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 35px;
    line-height: 25px;
}
.text1 h4, .text2 h4{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 35px;
    line-height: 25px;
}
.text1 ul, .text2 ul{
    width: 460px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 35px;
    line-height: 25px;
}
.store2{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.text2{
    width: 722px;
}
/*curation*/
#curation{
    margin: 0 auto;
    padding-top: 190px;
}
.cr_title{
    width: 1450px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.cr_title h1 a{
    font-size: 60px;
    font-weight: 300;

}.cr_title p a{
    display: inline-block;
    background-color: #E6E6E6;
    font-weight: 300;
    font-size: 18px;
    padding: 6px 12px;
}
#curation>h2{
    width: 1450px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 300;
    margin-top: 80px;
    padding-left: 40px;
    line-height: 1.3;
    letter-spacing: 1.5px;
}
.cr_content{
    width: 1272px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}
.cr_text{
    width: 248px;
    text-align: center;
    margin-right: 120px;
}
.cr_text>h3{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3;
}
.cr_text>a{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 400;
    border: #585858 solid 1px;
    padding: 5px 16px;
    margin-top: 30px; 
}
.cr_text>a:hover{
    color: #fff;
    background-color: #3A3A3A;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    border: #585858 solid 1px;
    padding: 5px 16px;
    margin-top: 30px; 
    transition: all 0.5s;
}
.cr_img>img{
    width: 100%;
}
.cr_box{
    margin: 100px auto;
    width: 250px;
    height: 410px;
  }
.swiper-slide {
    background-color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.swiper-slide img{
    width: 100%;
}
.swiper-slide h4{
    padding-top: 12px;
    font-size: 22px;
    font-weight: 900;
}
.swiper-slide h4 span{
    font-size: 18px;
    font-weight: 500;
}
.swiper-slide h5{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 500;
}
.swiper-slide h6{
    padding-top: 7px;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 7px;
}
.swiper-slide a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #979797;
    border-radius: 20px;
    padding: 2px 20px;
}
.swiper-slide a:hover{
    color: #fff;
    background-color: #979797;
    border: #585858 1px solid;
    transition: all 0.5s;
}
/*글씨가 튀어나간부분 ...으로 표시하기*/
.swiper-slide{
    width: 250px;
}
.swiper-slide>h4, .swiper-slide>h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*footer*/
#footer{
    border-top: #ccc 1.5px solid;
    margin-top: 260px;
}
.footer_inner{
    margin:0px auto;
    width: 1450px;
    position: relative;
}
.ft_inner{
    display: flex;
    justify-content: space-between;
}
.footer_inner ul{
    display: flex;
    padding-top: 55px;
}
.footer_inner ul li{
    padding-right: 30px;
    padding-bottom: 32px;
}
.footer_inner ul li a{
    font-size: 18px;
    font-weight: 400;
}
.footer_inner ol{ 
    display: flex;
    padding-top: 55px;
}
.footer_inner ol li{
    padding-left: 28px;
    padding-bottom: 32px;
}
.footer_inner p{
    font-size: 15px;
}
.footer_inner .on{
    padding-top: 10px;
    font-size: 14px;
}
.footer_inner h2{
    position: absolute;
    top: 0;
    left: 1208px;
}

/*TOP버튼*/
.top_btn{transition:all 0.5s;
    position:fixed;
    right:30px;
    bottom:50px;
    background:rgb(59, 59, 59);
    border-radius:50%;}
.top_btn:hover{transform:translateY(-5px);
    box-shadow:5px 5px 10px rgba(0,0,0,0.3)}
.top_btn>a{
    display:inline-block;
    letter-spacing: 1px;
    padding:20px 8px;
    text-align:center;
    width:51px;
    color:#fff;}
