@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
img, iframe, video{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #111;
}
body{
    font-family: 'Pretendard';
    color: #111;
    font-size: 22px;
    line-height: 24px;
    min-width: 1500px;
}
/*header*/
#header{
    border-bottom: 2px solid #656668;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    
}
.header_inner{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 86px;
}
.logo{
    padding-right: 70px;
}
.gnb{
    display: flex;
}
.gnb li{
    padding-right: 57px;
    font-size: 22px;
    font-weight: Light;
}
.lnb{
    display: flex;
    margin-left: auto;
}
.lnb li{
    padding-left: 34px;
}

/*title_list*/
/*  하이퍼링크 설정 (메뉴 on)*/
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}
#title_list{
    width: 100%;
    background: #fff;
    transition: top 0.2s;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 80;
    margin-top: 86px;
    padding-top: 5PX;
  }
  .nav-up {
    top: -86px !important;
    /*헤더 높이와 같이*/
  }
  .nav-down {
    top: 0px !important;
  }
#title_list{
    background-image: url(../images/sub1/bar.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.t_gnb{
    margin:auto;
    text-transform:uppercase;
    text-align:center;
    display: flex;
    justify-content: space-between;
}	
.t_gnb>li{
        width:50%;}
.t_gnb>li>a{
    
    display:block;
        font-size:20px;
        padding:16px 0 0;
        letter-spacing: 1.5PX;
    color: #979797;}
.t_gnb>li>a:hover{color:#4E4F51;}
.solid{width:100%;
        margin:auto;
        margin-top:20px;
        height:4px;
        background:#4E4F51;
        visibility:hidden;
        opacity:0;
        transform:scaleX(0);
        transition-property:opacity, transform;
        transition-duration:0.5s;}
.t_gnb>li>a:hover .solid{transform:scaleX(1);
                        opacity:1;
                        visibility:visible;}


/*event*/
#event{
    margin: 0px auto;
    padding-top: 220px;
    text-align: center;
    padding-bottom: 150PX;
}
#event h1{
   margin: 0 auto;
   
}
#event h1 a{
    display: inline-block;
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 10px;
    font-size: 50px;
    color: #111111;
}
#event h1 a span{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 60px;
    color: #111111;
}
.event_img{
    display: flex;
}
.event_img li a img{
    width: 100%;
}
.event_img li a:hover img{
    transform: scale(1.2,1.2);
    transition: all 0.5s;
}
.event_img li a{
    display: inline-block;
    overflow: hidden;
}

/*draw*/
#draw{
    margin: 0px auto;
    padding-top: 200px;
    padding-bottom: 250px;
}
#draw h1{
   margin: 0 auto;
   text-align: center;
}
#draw h1 a{
    display: inline-block;
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 10px;
    font-size: 50px;
    color: #111111;
}
#draw h1 a span{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 60px;
    color: #111111;
}
.draw_inner{
    width: 1111px;
    margin: 0 auto;
}
.draw_inner h4{
    font-size: 30px;
    font-weight: 300;
    padding-top: 80px;
    padding-bottom: 25px;
    padding-left: 20PX;
}
.draw_inner img{
    width: 100%;
}
.draw_inner ol{
    padding-left:310px;
    padding-top: 30px;
    list-style-type: circle;
    line-height: 1.3;
}
.draw_inner ol li span{
    font-size: 28px;
    font-weight: 400;
}
.draw_inner ol li{
    font-size: 26px;
    font-weight: 300;
}



/*week1*/
.week1{
    width: 1162px;
    margin: 0 auto;
    padding-top: 280px;

}
.week1 h1{
    text-align: center;
    padding-bottom: 100px;
}
.week1>h1>a{
    display: inline-block;
    font-weight: 200;
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 50px;
    color: #111111;
}
.week1 h1 a span{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 60px;
    color: #111111;
}
.week1_inner{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
.box h6{
    border-bottom: 2px solid #ccc;
}
.box h6 a{
    list-style: circle;
    display: block;
    font-size: 30px;
    color: #9B9B9B;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 26px;
    letter-spacing: 1.3px;
}
.box img{
    width: 100%;
    padding-top: 10px;
}

.text h2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px; 
    padding-bottom: 25px; 
}
.text h3{
    font-size: 20px;
    font-weight: 400; 
    padding-bottom: 16px; 
}

.text>ul{
    display: flex;
    padding-bottom: 35px;
}
.text>ul>li{
    font-size: 18px;
}
.line{
    font-size: 18px;
    color: #7D7C7C;
    padding-left: 15px;
    padding-right: 198px;
}
.red{
    color: #FF001A;
    font-size: 20px;
}
.red>span{
    font-size: 55px;
    font-weight: 700;
}

.text>ol{
    display: flex;
    justify-content: space-between;
}
.text>ol>li>a{
    font-size: 18px;
    font-weight: 400;
   display: inline-block;
   border: 1px solid #707070;
   border-radius: 15px;
   padding: 10px 60px;
}
.text>ol>li>a:hover{
    font-weight: 500;
    color: #d1d1d1;
    background-color: #111;
    transition: all 0.5s;
}

/*week2*/
.week2{
    width: 1162px;
    margin: 0 auto;
    padding-top: 350px;
    padding-bottom: 100px;

}
.week2 h1{
    text-align: center;
    padding-bottom: 100px;
}
.week2>h1>a{
    display: inline-block;
    font-weight: 200;
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 50px;
    color: #111111;
}
.week2 h1 a span{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 60px;
    color: #111111;
}
.week2_inner{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
.box h6{
    border-bottom: 2px solid #ccc;
}
.box h6 a{
    list-style: circle;
    display: block;
    font-size: 30px;
    color: #9B9B9B;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 26px;
    letter-spacing: 1.3px;
}
.box img{
    width: 100%;
    padding-top: 10px;
}

.text h2{
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px; 
    padding-bottom: 25px; 
}
.text h3{
    font-size: 20px;
    font-weight: 400; 
    padding-bottom: 16px; 
}

.text>ul{
    display: flex;
    padding-bottom: 35px;
}
.text>ul>li{
    font-size: 18px;
}
.line{
    font-size: 18px;
    color: #7D7C7C;
    padding-left: 15px;
    padding-right: 198px;
}
.red{
    color: #FF001A;
    font-size: 20px;
}
.red>span{
    font-size: 55px;
    font-weight: 700;
}

.text>ol{
    display: flex;
    justify-content: space-between;
}
.text>ol>li>a{
    font-size: 18px;
    font-weight: 400;
   display: inline-block;
   border: 1px solid #707070;
   border-radius: 15px;
   padding: 10px 60px;
}
.text>ol>li>a:hover{
    font-weight: 500;
    color: #d1d1d1;
    background-color: #111;
    transition: all 0.5s;
}


/*notice*/
.notice{
    width: 1070px;
    margin: 0 auto;
}
.notice h6{
    text-align: center;
}
.notice h6 a{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    border-radius: 18px;
    border: 1px solid #707070;
    margin-top: 183px;
    padding: 13px 75px ;
    background-color: #E6E6E6;
}
.nt_inner{
    padding-top: 140px;
    font-size: 17px;
    line-height: 1.8;
}

/*last_draw*/
#last_draw{
    margin: 0 auto;
    width: 1520px;
    border-top: 1px solid #707070;
    padding-top: 230px;
    padding-bottom: 480px;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 810px;
    padding-left: 40%;
    padding-bottom: 100px;
}
 .title .last a{
     display: inline-block;
     font-weight: 200;
     margin-bottom: 60px;
     margin-top: 10px;
     font-size: 50px;
     color: #111111;
 }
 .title .last a span{
     display: inline-block;
     font-weight: 100;
     margin-bottom: 50px;
     margin-top: 10px;
     font-size: 60px;
     color: #111111;
 }

 .title .all a{
    display: inline-block;
    background-color: #E6E6E6;
    font-weight: 300;
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 16px;
}

.last_inner ul{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.last_inner ul li{
    /*여기서, li가 body가 크기가 조정될 때 같이 줄었다가 늘었다가 해야하므로, 반드시 li의 길이를 상대단위로 설정한다.(%)*/
    width: 43%;
    position: relative;
    margin-bottom: 15px;
}
.last_inner ul li img{
    width: 100%;
    /*li의 크기가 body의 크기에 따라 계속 변화하는 상태이므로, 그안에 이미지도 같은 크기로 움직여야 한다.*/
}

.white_box{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*자식인 white_text를 가로세로 가운데로 보냄*/
}
.white_text{
    text-align: center;
    color: #fff;
}
.white_text h2{
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 2px;
}
.white_text h3{
    padding: 15px 0;
    font-size: 25px;
    font-weight: 400;
}
.white_text p a{
    font-size: 20px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 25px;
    color: #fff;
    border-radius: 21.5px;
}

/*호버가 된 모양을 다 만들었다면, 호버하기 전에는 안보이는 요소를 안보이게 만든다.*/
.white_box{
    opacity: 0;
    /*안보이는 상태 만들기*/
    transition: all 0.5s;
}
.last_inner ul li:hover .white_box{
    opacity: 1;
    /*img 호버X*/
}

/*footer*/
#footer{
    border-top: #ccc 1.5px solid;
}
.footer_inner{
    margin:0px auto;
    width: 1450px;
    position: relative;
}
.ft_inner{
    display: flex;
    justify-content: space-between;
}
.footer_inner ul{
    display: flex;
    padding-top: 55px;
}
.footer_inner ul li{
    padding-right: 30px;
    padding-bottom: 32px;
}
.footer_inner ul li a{
    font-size: 18px;
    font-weight: 400;
}
.footer_inner ol{ 
    display: flex;
    padding-top: 55px;
}
.footer_inner ol li{
    padding-left: 28px;
    padding-bottom: 32px;
}
.footer_inner p{
    font-size: 15px;
}
.footer_inner .on{
    padding-top: 10px;
    font-size: 14px;
}
.footer_inner h2{
    position: absolute;
    top: 0;
    left: 1208px;
}

/*TOP버튼*/
.top_btn{transition:all 0.5s;
    position:fixed;
    right:30px;
    bottom:50px;
    background:rgb(59, 59, 59);
    border-radius:50%;}
.top_btn:hover{transform:translateY(-5px);
    box-shadow:5px 5px 10px rgba(0,0,0,0.3)}
.top_btn>a{
    display:inline-block;
    letter-spacing: 1px;
    padding:20px 8px;
    text-align:center;
    width:51px;
    color:#fff;}
