@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
img, iframe, video{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #111;
}
body{
    font-family: 'Pretendard';
    color: #111;
    font-size: 22px;
    line-height: 24px;
    min-width: 1500px;
}
/*header*/
#header{
    border-bottom: 2px solid #656668;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.header_inner{
    width: 1450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 86px;
}
.logo{
    padding-right: 70px;
}
.gnb{
    display: flex;
}
.gnb li{
    padding-right: 57px;
    font-size: 22px;
    font-weight: Light;
}
.lnb{
    display: flex;
    margin-left: auto;
}
.lnb li{
    padding-left: 34px;
}


/*title_list*/
/*  하이퍼링크 설정 (메뉴 on)*/
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}
#title_list{
    width: 100%;
    background: #fff;
    transition: top 0.2s;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 80;
    margin-top: 86px;
    padding-top: 5PX;
  }
  .nav-up {
    top: -86px !important;
    /*헤더 높이와 같이*/
  }
  .nav-down {
    top: 0px !important;
  }
#title_list{
    background-image: url(../images/sub1/bar.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.t_gnb{
    width: 1700px;
    margin:auto;
    text-transform:uppercase;
    text-align:center;
display: flex;}	
.t_gnb>li{
        width:25%;}
.t_gnb>li>a{display:block;
        font-size:20px;
        padding:16px 0 0;
        letter-spacing: 0.5px;
    color: #979797;}
.t_gnb>li>a:hover{color:#4E4F51;}
.solid{width:100%;
        margin:auto;
        margin-top:20px;
        height:4px;
        background:#4E4F51;
        visibility:hidden;
        opacity:0;
        transform:scaleX(0);
        transition-property:opacity, transform;
        transition-duration:0.5s;}
.t_gnb>li>a:hover .solid{transform:scaleX(1);
                        opacity:1;
                        visibility:visible;}
                        
/*top10*/
#top_brand{
    margin: 0px auto;
    padding-top: 220px;
    padding-bottom: 40PX;
    text-align: center;
    background-image: url(../images/sub1/top_bg.png);
    background-repeat: no-repeat;
    background-position: center 75%;
}
#top_brand h1{
    width: 1450px;
   margin: 0 auto;
}
#top_brand h1 a{
    display: inline-block;
    font-weight: 200;
    margin-bottom: 80px;
    font-size: 50px;
    color: #111111;
}
#top_brand h1 a span{
    display: inline-block;
font-weight: 100;
margin-bottom: 80px;
font-size: 60px;
color: #111111;
}
#slide {
    margin: 0 auto;
    width: 1400px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    padding-top: 40px;
    
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner {
    width: 6000px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate 40s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 3000px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.slide_inner ul li {
    width: 202px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/

.slide_inner ul li:nth-child(2n) {
    padding-top: 255px
}


.slide_inner ul li img {
    width: 285px;
    height: 170px;
}

.slide_inner:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

#slide p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: rotate(-50%);
    cursor: pointer;
}

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -2800px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

/*best_item*/
#best_brand{
    height: 1323px;
    margin: 0 auto; 
    padding-top: 190px;
    padding-bottom: 400px;
    background-image: url(../images/sub1/bt_bg.jpg);
    background-repeat: no-repeat;
    background-position: center 800px;
}
.bt_inner{
    width: 1270px;
    margin: 0 auto;

}
.bt_text{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 200px;
    line-height: 1.1;
}
.bt_text h2{
    font-size: 50px;
    color: #000;
    font-weight: 200;
}
.bt_text h2 span{
    display: inline-block;
font-weight: 100;
margin-bottom: 80px;
font-size: 60px;
color: #111111;
}
.bt_text a img{
    padding-top: 83px;
}
.bt_img{
    position:relative;
}
.bt1{
    position: absolute;
    top: 33px;
    left: 405px;
}
.bt2{
    position: absolute;
    top: 224px;
    left: 801px;
}
.bt3{
    position: absolute;
    top: 566px;
    left: 220px;
}
.bt_text1 ,.bt_text2, .bt_text3{
    color: #4E4F51;
    font-size: 50px;
    letter-spacing: 8px;
}
.bt_text1{
    position: absolute;
    top: 0px;
    left: 320px;
}
.bt_text2{
    position: absolute;
    top: 135px;
    left: 980px;
}
.bt_text3{
    position: absolute;
    top: 790px;
    left: 610px;
}


/*rising*/
#rising{
    margin: 0 auto;
    padding-top: 190px;
    padding-bottom: 400px;
    background-image: url(../images/sub1/rising_bg.png);
    background-repeat: no-repeat;
    background-position: center 720px;
    text-align: center;
}

#rising  h1 a{
    display: inline-block;
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 50px;
    color: #111111;}

#rising  h1 a span{
    display: inline-block;
    font-weight: 100;
    padding-bottom: 30px;
    font-size: 60px;
    color: #111111;
}
.ri_box{
    margin-top: 178px;
    margin: 0 auto;
    height: 444px;
    
}
.ri_img ul{ 
    display: flex;
    justify-content: space-between;
    width: 1450px;
    margin: 0 auto;
    padding-top: 180px;
}
.ri_img ul li a img{
    width: 100%;
}
.on1 a img{
    padding-top: 15px;
}
.on2 a img{
    padding-top: 94px;
}
.on4 a img{
    padding-top: 4px;
}
.on4 a img{
    padding-top: 46px;
}
.ri_img ul li p a{
    font-size: 66px;
    font-weight: 200;

}
.on2 img{
    width: 300px;
}
.on1, .on2, .on3, .on4{
    position: relative;
}
.on1_1>a{
    position: absolute;
    top:-365px;
    left: -5px;
}

.on2_1>a{
    position: absolute;
    top: -50px;
    left: -40px;
}

.on3_1>a{
    position: absolute;
    top: -290px;
    left: -58px;
}
.on4_1>a{
    position: absolute;
    top: -10px;
    left: 10px;
}
/*A TO Z*/
#a_to_z{
    width: 1450px;
    margin: 0 auto;
    padding-top: 190px;
    padding-bottom: 480px;
    text-align: center;
}

#a_to_z  h1 a{
    display: inline-block;
    font-weight: 200;
    padding-bottom: 30px;
    font-size: 50px;
    color: #111111;}

#a_to_z  h1 a span{
    display: inline-block;
    font-weight: 100;
    padding-bottom: 30px;
    font-size: 60px;
    color: #111111;
}
.text{
    border-top: 1.5px #707070 solid;
    margin-top: 108px;
   padding-top: 40px;
}
.en{
    width: 1253px;
    letter-spacing: 32px;
}
.en a{
    font-size: 28px;
}
.ko{
    width: 722px;
    letter-spacing: 32px; 
    line-height: 3.5;
}
.ko a{
    font-size: 28px;
}
/*search*/
.search {
    margin: 0 auto;
    position: relative;
    width: 300px;
    padding-top: 50px;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    padding: 15px 25px;
    font-size: 14px;

  }
  
.search img {
    padding-top: 50px;
    position : absolute;
    width: 20px;
    top: 15px;
    right: -30px;
    margin: 0;
  }

/*footer*/
#footer{
    border-top: #ccc 1.5px solid;
}
.footer_inner{
    margin:0px auto;
    width: 1450px;
    position: relative;
}
.ft_inner{
    display: flex;
    justify-content: space-between;
}
.footer_inner ul{
    display: flex;
    padding-top: 55px;
}
.footer_inner ul li{
    padding-right: 30px;
    padding-bottom: 32px;
}
.footer_inner ul li a{
    font-size: 18px;
    font-weight: 400;
}
.footer_inner ol{ 
    display: flex;
    padding-top: 55px;
}
.footer_inner ol li{
    padding-left: 28px;
    padding-bottom: 32px;
}
.footer_inner p{
    font-size: 15px;
}
.footer_inner .on{
    padding-top: 10px;
    font-size: 14px;
}
.footer_inner h2{
    position: absolute;
    top: 0;
    left: 1208px;
}

/*TOP버튼*/
.top_btn{transition:all 0.5s;
    position:fixed;
    right:30px;
    bottom:50px;
    background:rgb(59, 59, 59);
    border-radius:50%;}
.top_btn:hover{transform:translateY(-5px);
    box-shadow:5px 5px 10px rgba(0,0,0,0.3)}
.top_btn>a{
    display:inline-block;
    letter-spacing: 1px;
    padding:20px 8px;
    text-align:center;
    width:51px;
    color:#fff;}